[Desktop Entry]
Name=Zotero
Exec=bash -c "$(dirname $(readlink -f %k))/zotero -url %U"
Icon=zotero.ico
Type=Application
Terminal=false
Categories=Office;
MimeType=text/plain
